body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
}

.container-title {
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

.textbar {
  display: flex;
  align-items: stretch;
}

.textbar-input {
  flex-grow: 1;
  box-sizing: border-box;
}

.textbar-send {
  border-radius: 0;
  border: none;
}

.message-window {
  height: 600px;
  overflow-y: scroll;
  border: 1px solid #27213c;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.message {
  align-self: flex-start;
  width: 80%;
  background-color: #f5fbef;
  border: 1px solid #c7e2c9;
  padding: 4px;
  border-radius: 4px;
  margin: 5px 0;
}

.message-self {
  align-self: flex-end;
  background-color: #d1beb0;
  border: 1px solid #c49f94;
}

.message-username {
  font-size: 12px;
  font-weight: bold;
  color: #5a352a;
}

.message-text {
  font-size: 15px;
}